body{
    background-color: pink;
}
.pealkiri{
    color: rgb(175, 104, 12);
    text-align: center;
    position: relative;
    animation: header;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@keyframes header {
    0% {top: -250px;}
    100% {top: 10px;;}
}
.allikas{
    text-align: center;
    color: rgb(43, 199, 204);
    animation: link;
    animation-duration: 7s;
    animation-delay: 0s;
    animation-fill-mode: forwards; 
}
@keyframes link {
    0% {opacity: 0;} 
    100% {opacity: 1;}
}
.pealkiri2{
    text-align: center;
    color: rgb(115, 13, 136);
}
.Pilt{
    font-family: stick no bills;
    text-align: center;
}
.Nimekiri{
    text-align: center;
    margin: 3rem auto;
    width: 200px;
    position: relative;
    animation: textleft;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
}
@keyframes textleft{
    0% {left: -1000px;}
    85% {left: 20px;}
    100% {left: 0;}
}
.tabel1{
    text-align: center;
    border: 1rem solid;
    margin: 1rem auto;
    color: rgb(2, 26, 26);
}
.Koostisosad {
    width: 20%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    animation: textleft;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
}  
@keyframes textleft{
    0% {left: -1000px;}
    85% {left: 20px;}
    100% {left: 0;}
}
.Valmistamine{
    text-align: center;
    margin: 1rem  auto;
    width: 400px;
    
}
.Koostiosad-table {
    border: 1px solid black;
    width: 50%;
    margin: 0 auto;
    margin-top: 32px;
    position: relative;
    text-align: right;
    animation: textright;
    animation-duration: 4s;
}
.Fontcolor {
    color: rgb(0, 0, 0);
}